.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    align-items: left;
    border: 1px solid #ccc;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 40px;
    border-radius: 20px;
    padding: 20px;
  }
  
  .message-container {
    overflow-y: auto;
    flex-grow: 1;
    padding: 10px;
    border-radius: 30px;
    /* border: 1px solid #ccc; */
  }
  
  .message {
    display: flex;
    border-radius: 10px;
    /* background-color: #f1f0f0; */
    padding: 0px 0px;
    margin-bottom: 0px;
    height: 36px;
  }
  
  .message.sent {
    align-self: flex-end;
    /* background-color: #007bff; */
    color: #fff;
  }
  
  .message.received {
    align-self: flex-start;
  }
  
  .message-user {
    display: flex;
    align-self: flex-start;
    font-size: 16px;
    color: red;
    margin-top: 10px;
  }
  
  .username {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .message-body {
    align-self: flex-center;
    font-size: 16px;
    word-wrap: break-word;
    color: #999;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    padding: 30px;
    width: 70%;
    background-color: #f1f0f0;
    /* background-color: ; */
    height: 150px;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
  }
  
  .input-field {
    flex-grow: 1;
    border: none;
    border-radius: 20px;
    padding: 5px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .send-button {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #007bff;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  