.panel {
    position: absolute;
    left: 0;
    top: 62px;
    bottom: 0;
    width: 300px;
    background-color: #f2f2f2;
    overflow-y: auto;
}

.panel-room {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
  
.panel-room:last-child {
    border-bottom: none;
}
  
.panel-room:hover {
    background-color: #ddd;
}
  