.chat-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    height: 42vw;
    width: 400px;
    align-items: left;
    border: 1px solid #aaa;
    border-radius: 20px;
    margin-left: 40px;
    word-wrap: break-word;
}

.message-container {
    /* overflow-y: auto; */
    flex-grow: 1;
    border-radius: 30px;
    /* border: 1px solid #ccc; */
}

.message {
    display: flex;
    border-radius: 10px;
    padding: 0px 0px;
    margin-bottom: 0px;
    height: 10px;
}

.message.sent {
    align-self: flex-end;
    color: #fff;
}

.message.received {
    align-self: flex-start;
}

.message-user {
    display: flex;
    align-self: flex-start;
    font-size: 2px;
    color: red;
    margin-top: 10px;
}

.username {
    font-weight: bold;
    margin-right: 5px;
}

.message-body {
    align-self: flex-start;
    font-size: 2px;
    word-wrap: initial;
    color: #999;
    margin-top: 10px;
    margin-left: 10px;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 30px;
    width: 70%;
    background-color: #f1f0f0;
    /* background-color: ; */
    height: 150px;
    font-size: 2px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.input-field {
    flex-grow: 1;
    border: none;
    border-radius: 20px;
    padding: 5px;
    font-size: 20px;
}

.send-button {
    border: none;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.chat-msg-sent  {
    justify-content: left;
}

.chat-msg-received {
    justify-content: left;
}

.chat-msg {
    background-color: transparent;
    margin: 10px 20px;

    width: 90%;
    height: auto;

    display: flex;
    flex-direction: row;
    text-align: left;
}
  
.chat-msg img {
    background-image: none;
    border-radius: 100%;

    width: 40px;
    height: 40px;
    max-width: 60px;
    max-height: 60px;

    margin-left: 0px;
    margin-top: 4px;
}

.chat-msg p {
    display: flex;
    align-items: center;
    text-align: left;

    background-image: none;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 18px;

    color: white;
    min-height: auto;
    height: auto;
    min-height: 30px;
    width: auto;
    padding: 6px 0px;
    border-radius: 20px;
}