.title {
    margin-top: 0px;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
    color: var(--button-color);
}

.home-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 666px;
}

.home-bg2 {
    position: fixed;
    right: 0;
    top: 0;
    width: 666px;
}

.welcome {
    font-size: 1.5rem;
    text-align: center;
    width: 520px;
    color: white;
}
  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

label {
    margin-bottom: 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--button-color);
    font-weight: bold;
}

input[type="text"],
select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid white;
    font-size: 22px;
    width: 100%;
    margin-top: 5px;
    color: white;
}

select {
    width: 105%;
    cursor: pointer;
}

.link-button-fancy-3 {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--button-color);
    background-color: var(--button-color);
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
}

.link-button-fancy-3:hover {
    background-color: var(--button-color);
    border-color: var(--button-color);
    transform: scale(1.1);
}
  
.checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.checkbox-label {
    color: white;
    font-weight: bold;
    margin-right: 20px;
}

.checkbox {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-left: 20px;
}

.checkbox:hover {
    background-color: var(--button-color);

}

.desc-input {
    font-size: 20px;
    width: 500px;
    height: 100px;
}

.create-room {
    background-color: white;
    color: black;
    width: 200px;
    border-radius: 30px;
    padding: 15px;
    transition: ease-in-out 300ms;
}

.create-room:hover {
    cursor: pointer;
    transform: scale(1.1);
}