.navbar {
    background-color: var(--button-color);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    width: 100vw;
}

.navbar-brand {
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    background-color: var(--button-color);
}

.navbar-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 40px;
    color: white;
    background-color: var(--button-color);
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    color: white;
    margin-top: 5px;
    background-color: var(--button-color);
}

.navbar-link:hover {
    color: #f1f1f1;
}

.icon {
    font-size: 1.5rem;
    color: purple;
    background-color: none;
}