.navbar {
    background-color: var(--button-color);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 6px 20px;
    position: fixed;
    width: 100vw;
}

.navbar-brand {
    font-size: 32px;
    margin-top: 10px;
    font-weight: bold;
    color: white;
    background-color: var(--button-color);
}

.navbar-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    color: white;
    background-color: var(--button-color);
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    color: white;
    margin-top: 5px;
    background-color: var(--button-color);
}

.navbar-link:hover {
    color: #f1f1f1;
}

.icon {
    margin-right: 20px;
    width: 25px;
    height: 25px;
    color: purple;
    border-radius: 20px;
    padding: 10px;
    background-color: none;
}

.icon:hover {
    height: 21px;
    border: 2px solid white;
}