.panel {
    margin-left: 20px;
    width: 250px;
    background: linear-gradient(to bottom, var(--button-color), lighten(var(--button-color), 20%));
    overflow-y: auto;
}

.panel-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    /* color: var(--button-color); */
}

.panel-rooms {
    display: flex;
    flex-direction: column;
    align-items: center ;
    margin-top: 10px;   
}


.panel-room {
    text-decoration: none;
    color: white;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    width: 200px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.active {
    color: var(--button-color);
}

.favorite {
    /* gold color */
    color: #FFD700;
}

.panel-room:last-child {
    border-bottom: none;
}

.panel-room:hover {
    color: var(--button-color);
}