.profile-container {
    position: fixed;
    top: 0;
    right: 0;

    width: 25%;
    height: 100vw;
    padding: 40px;

    background-color: var(--button-color);
    color: black;
}

.profile-container img {
    border-radius: 100%;
    width: 200px;
}

.profile-info {
    margin-top: 10px;
    background-color: var(--button-color);
    border-radius: 14px;
}

.profile-name {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
    background-color: var(--button-color);
    color: white;
}

.profile-email {
    font-size: 1rem;
    font-weight: 400;
    color: white;
    background-color: black;
    background-color: var(--button-color);
}

.profile-favorite-rooms-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 40px;
    background-color: var(--button-color);

    /* color that looks good with red background */
    color: white;
}

.profile-favorite-rooms-empty {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
    background-color: var(--button-color);
    color: white;
}

.profile-favorite-rooms {
    margin-top: 60px;
}

.profile-favorite-rooms-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--button-color);
}

.profile-favorite-room {
    color: white;
    border-radius: 10px;
    padding: 16px;
    width: 200px;
    margin: 9px;
    transition: all 0.3s ease-in-out;
    background-color: var(--button-color);
    background-color: black;
    cursor: pointer;
    text-decoration: none;
}

.profile-favorite-room:hover {
    transform: scale(1.1);
    background-color: #47031a;
}