.send {
    display: flex;
    position: relative;
    background-color: #fff;
    padding: 16px;
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  .send-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 1.5;
    outline: none;
  }
  
  .send-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--button-color);
    color: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
  
  .send-icon:hover {
    background-color: #3c79e6;
  }
  
  .dummy {
    height: 0;
    visibility: hidden;
  }
  