.video-container {
    margin-left: 20px;

    width: 60%;
    height: 620px;
}

.room-description {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    padding: 10px;
}

.room-title {
    color: white;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    transition: ease-in-out 300ms;
}

.room-title:hover {
    color: var(--button-color);
}

.room-desc {
    color: #ddd;
    text-align: left;
    margin-top: 10px;
    opacity: 0.6;
    transition: ease-in-out 300ms;
}

.room-title:hover + .room-desc {
    opacity: 1;
    transform: scale(1.05);
    margin-left: 20px;
}

.youtube-player {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.room-title:hover + .video-container {
    opacity: 0;
}

.dummy-sync-background {
    position: absolute;
    left: 500px;
    top: 730px;
    width: 30px;
    height: 25px;
    border-radius: 20px;
    padding: 10px;
    /* background-color: red; */
}

.sync {
    position: absolute;
    right: 500px;
    top: 740px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 3px solid white;
    padding: 8px;
    transition: ease-in-out 300ms;
}

.sync:hover {
    border: 3px solid var(--button-color);
    transform: scale(1.05);
    cursor: pointer;
}