.video-player {
    position: fixed;
    border: 1px solid #fff;
    width: 60%;
    height: 60%;
    top: 100px;
    left: 360px;
}

iframe {
    width: 100%;
    height: 100%;
}

.room-info {
    position: absolute;
    top: 720px;
    left: 360px;
    width: 60.5%;
    height: 200px;
    background-color: #222;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    background-color: #E71D36;
}